
@media only screen and (max-width: 468px) {
	.formulario {
		display: flex;
		flex-direction: column;
		align-items: center;
		input[type="submit"] {
			width: auto;
			height: auto;
			margin: 10px 0;
		}
		input[type="text"] {
			width: auto;
			height: auto;
			margin: 10px 0;
		}
	}
}
